@font-face {
    font-family: 'comfortaa';
    src: url('/Assets/fonts/Comfortaa,Tiny5/Comfortaa/Comfortaa-VariableFont_wght.ttf');
}

html {
    height: 200px;
    width: 400px;    
}

body {
    font-family: 'comfortaa', sans-serif;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#title {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
    
#saveAPI {
    padding: 7.5px;
    background: #5eff78;
    color: black;
}

#saveAPI:hover {
    background: #44b657;
}

button {
    padding: 10px 20px;
    background: #007cba;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #005a87;
}